.a1{
    color:red;
    font-style: italic;
    font-variant: small-caps;
    text-align:right ;
    text-transform: capitalize;

}

.a2{
    color:darkblue;
    font-style: normal;
    font-variant: initial;
    text-align: left;
    text-transform: uppercase;

}
.a3{
    color:purple;
    font-style: oblique;
    font-variant: inherit;
    text-align: center;
    text-transform: initial;
    targe

}