a{
    color: violet;
}
a:link{
    color: turquoise;
    text-decoration: none;
    display: inline-block;
    padding-left:10px;
    text-align: center;
}
a:hover{
    color: yellow;
    background-color: yellowgreen;
    font-size: large;
    text-decoration: underline;
    text-align: center;
}
a:active{
    color: blue;
}